.body {
  width: 65%;
  
}

.textarea {
  width: 100%;
  max-height: 800px;
  min-height: 700px;
  outline: none;
  padding: 20px;
  font-size: 15px;
}

.markdown {
  width: 100%;
  max-height: 800px;
  min-height: 700px;
  outline: none;
  padding: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 17px;
}