.body {
  width: 25%;
}

.body_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body_inner button {
  border: none;
  border-radius: 10px;
  background: #F0F0F0;
}

.body_inner button:hover {
  cursor: pointer;
  background: #E0E0E0;
  transition: 0.2s;
}

.body_inner img {
  width: 30px;
  padding: 5px 10px;
}
