.body {
  width: 25%;
}

.body_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body_inner button {
  border: none;
  border-radius: 10px;
  background: #f0f0f0;
}

button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.body_inner button:hover {
  cursor: pointer;
  background: #e0e0e0;
  transition: 0.2s;
}

.body_inner img {
  width: 30px;
  padding: 5px 10px;
}
